.home {
  &-header {
    &-text {
      position: relative;
      top: -60px;
      background: linear-gradient(153.19deg, #053f00 11.14%, #065000 100%);
      color: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &-text-container {
      background: url("../../assets/images/home/about-top-bg.png");
      position: relative;
      top: -10px;
    }
  }

  &-about {
    background: url("../../assets/images/home/about-bottom-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 80px;

    &-item {
      border-radius: 5px;
    }
  }

  &-services {
    background: url("../../assets/images/home/services-bg.png"),
      linear-gradient(153.19deg, #053f00 11.14%, #065000 100%);
    color: white;

    &-item {
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      &-icon {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        box-shadow: 4px 4px 4px 4px rgba(106, 106, 106, 0.1);
      }
    }
  }
}
