.home {
  &-header {
    &-text {
      position: relative;
      top: -60px;
      background: linear-gradient(153.19deg, #053f00 11.14%, #065000 100%);
      color: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &-text-container {
      background: url("../../assets/images/home/about-top-bg.png");
      position: relative;
      top: -10px;
    }
  }

  &-about {
    background: url("../../assets/images/home/about-bottom-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 80px;

    &-item {
      border-radius: 5px;
    }
  }

  &-services {
    background: url("../../assets/images/home/services-bg.png"),
      linear-gradient(153.19deg, #053f00 11.14%, #065000 100%);
    color: white;

    &-item {
      border: 1px solid white;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.2);

      &-middle {
        li {
          &::before {
            border: 3px solid #232323 !important;
          }
        }
      }

      li {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: 500;

        &::before {
          display: inline-block;
          content: "";
          width: 12px;
          height: 12px;
          margin-right: 10px;
          border: 3px solid white;
        }
      }
    }
  }
}
