@import "../../../../styles/variables.scss";

.work-item {
  img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }

  &-content {
    padding: 80px 0 !important;

    img {
      border-radius: 5px;
      border: 1px solid grey;
    }

    &-even {
      background: linear-gradient(153.19deg, #053f00 11.14%, #065000 100%);
      color: white;
    }

    @include md {
      &-inner {
        max-width: 500px !important;
      }
    }
  }

  @include sm-up {
    p {
      max-width: 500px;
    }

    &-content {
      padding: 80px 0 100px 0 !important;
    }
  }

  @include md-up {
    &-content {
      padding: 120px 0 !important;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @include lg-up {
    &-content {
      img {
        min-height: 300px;
      }

      &-inner {
        max-width: 1000px !important;
      }
    }
  }
}
