@import "../../../../styles/variables.scss";

.about {
  background: url("../../../../images/home/about-bottom-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 80px;
  opacity: 0;
  transform: translateX(-50px);

  &-in-view {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s linear;
  }

  &-item {
    border-radius: 5px;
  }

  &-facts {
    align-self: center;
    opacity: 0;
    transform: translateY(50px);

    &-in-view {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.3s linear 0.2s;
    }
  }

  @include md-up {
    padding: 40px 0 60px 0;
  }

  @include lg-up {
    padding: 60px 0 80px 0;
  }
}
