@import "../../../../styles/variables.scss";

#contact {
  scroll-margin-top: 80px;
}

.contact {
  background: url("../../../../images/home/services-bg.png"),
    linear-gradient(146.72deg, #042f00 0.86%, #043600 100%);
  color: white;

  a {
    text-decoration: none;
  }

  &-form {
    border-radius: 5px;
    max-width: 450px;
  }

  &-icon {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }

  label {
    font-size: 14px;
    font-weight: 500;
  }

  input,
  textarea {
    margin-top: 3px;
    border: 1px solid #dfdfdf;
    background: #ececec;
    padding: 15px 10px;
    border-radius: 5px;
    width: 100%;
  }

  textarea {
    resize: none;
  }

  @include sm-down {
    &-title {
      text-align: center;
    }
  }

  @include md-up {
    padding: 30px 0 50px 0;

    &-title {
      &-desc {
        max-width: 350px !important;
      }
    }
  }

  @include lg-up {
    padding: 60px 0 70px 0;

    &-title {
      &-desc {
        max-width: 450px !important;
      }
    }

    &-icon {
      width: 55px;
      height: 55px;
    }

    &-form {
      max-width: 500px;
    }

    label {
      font-size: 16px;
    }

    input,
    textarea {
      padding: 20px 15px;

      &::placeholder {
        font-size: 16px;
      }
    }
  }
}
