.form-submit {
  height: 100%;
  width: 100%;
  background: url("../../../images/home/about-top-bg.png"),
    url("../../../images/home/about-bottom-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
