@import "../../../../styles/variables.scss";

.our-work {
  background: url("../../../../images/home/about-top-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
  opacity: 0;
  transform: translateY(20px);

  &-in-view {
    @include inView;
  }

  --swiper-pagination-color: #{map-get($xf-colours, "primary")};
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;

  .work-carousel {
    img {
      border-radius: 5px;
      aspect-ratio: 4 / 3;
      object-fit: cover;
      border: 1px solid rgb(167, 167, 167);
    }
  }

  @include md-up {
    padding: 60px 0;
  }

  @include lg-up {
    .our-work-carousel-img img {
      min-height: 320px;
    }

    .swiper-slide-prev,
    .swiper-slide-next {
      opacity: 0.4;
      transition: opacity 0.8s;
    }
  }
}
