$primary: #086500;
$secondary: #2fa625;

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.v-input {
  .v-input__details {
    padding-top: 3px;
    align-items: center;
    margin-bottom: 3px;
  }
}

.cursor-default {
  cursor: default;
}

.w-100 {
  width: 100%;
}

.link {
  cursor: pointer;

  &:hover {
    color: #2fa625 !important;
  }
}

.internal-link {
  color: black !important;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #2fa625 !important;
  }
}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
}

.carousel-actions {
  --vc-pgn-active-color: #2fa625;
  --vc-pgn-height: 10px;
  --vc-pgn-width: 10px;
}

@mixin sm {
  @media (min-width: 390px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}
