@import "../../styles/variables.scss";

.modal {
  &-overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  &-content {
    @include center;

    background: white;
    min-height: 100px;
    min-width: 200px;
    border-radius: 5px;
  }
}
