@import "../../styles/variables.scss";

.modal {
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  &-content {
    @include center;

    background: white;
    min-height: 300px;
    min-width: 300px;
    border-radius: 5px;
  }
}
