@import "./mixins.scss";
@import "./variables.scss";

body {
  line-height: 1.5;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: map-get($bd-colours, "black");
  font-size: 16px;
  overflow-x: hidden;
}

.bd-max-width {
  max-width: 375px;
  margin: 0 auto;
}

.bd-navigation-max-width {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}

.bd-center {
  @include center(true, true);

  &-horizontal {
    @include center(true, false);
  }

  &-vertical {
    @include center(false, true);
  }
}

// Extend on xf colour variables
@each $name, $colour in $bd-colours {
  .xf-bg-#{$name} {
    background: $colour;
  }

  .xf-icon-colour-#{$name} {
    :deep(path),
    :deep(rect) {
      fill: #{$colour} !important;
    }
  }

  .xf-text-colour-#{$name} {
    color: $colour;
  }
}
