@import "../../../../styles/variables.scss";

.services {
  background: url("../../../../images/home/services-bg.png"),
    linear-gradient(146.72deg, #042f00 0.86%, #043600 100%);
  color: white;

  &-title {
    opacity: 0;
    transform: translateY(20px);
  }

  &-in-view {
    .services-title {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.3s linear;
    }
  }

  &-item {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    opacity: 0;
    transform: translateY(20px);

    &-in-view {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.3s linear;
    }

    &-icon {
      position: relative;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      box-shadow: 4px 4px 4px 4px rgba(106, 106, 106, 0.1);
    }
  }

  @include md-up {
    padding: 40px 0 80px 0;

    &-item {
      &-icon {
        width: 35px;
        height: 35px;
      }
    }
  }

  @include lg-up {
    padding: 80px 0 120px 0;

    &-item {
      &-icon {
        width: 45px;
        height: 45px;
      }
    }
  }
}
