@import "../../styles/variables.scss";

.our-work-modal {
  .modal-content {
    padding: 20px !important;

    .work-carousel-img {
      img {
        border: 1px solid rgb(210, 210, 210);
        aspect-ratio: 4 / 3;
        object-fit: contain;
        border-radius: 3px;
      }
    }
  }
}
