---
import "../styles/index.scss";
import BdFooter from "../components/Footer/BdFooter";
import BdNav from "../components/Nav/BdNav";
---

<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Build A-Dream | Lincoln Landscape Gardeners</title>
    <meta
      name="description"
      content="Looking for exceptional landscaping services in Lincoln? Our experienced team is dedicated to transforming your outdoor space. From expert landscape designs to meticulous lawn maintenance, we offer affordable solutions that will enhance the beauty of your property. Contact us now for a free quote and let us create your dream landscape"
    />
  </head>

  <body>
    <BdNav client:load />

    <main>
      <slot />
    </main>

    <BdFooter />
  </body>
</html>
