// Center Mixin
@mixin center($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
  } @else if ($horizontal) {
    left: 50% !important;
    -webkit-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important;
  } @else if ($vertical) {
    top: 50% !important;
    -webkit-transform: translate(0, -50%) !important;
    transform: translate(0, -50%) !important;
  }
}

@mixin maxWidth() {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;

  @include sm-up {
    max-width: 700px;
  }

  @include md-up {
    max-width: 850px;
  }

  @include lg-up {
    max-width: 1100px;
  }

  @include lg-up {
    max-width: 1300px;
  }
}
