@import "../../styles/variables.scss";

// @keyframes slideInFromRight {
//   0% {
//     transform: translateX(100%);
//   }
//   100% {
//     transform: translateX(0);
//   }
// }

.bd-nav {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  background: white;
  max-width: 1920px;

  &-open {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 49;
  }

  img {
    width: 160px;

    @include md-up {
      width: 200px;
    }

    @include lg-up {
      width: 240px;
    }
  }

  &-content {
    @include sm-down {
      max-width: none !important;
    }
  }

  &-drawer {
    &-content,
    &-overlay {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
    }

    &-content {
      z-index: 50;
      height: 100%;
      width: 60%;
      max-width: 300px;
      // animation: 0.4s ease-in-out slideInFromRight;
    }

    &-overlay {
      z-index: 49;
      background: rgba(0, 0, 0, 0.4);
      height: 100%;

      @media (min-width: 1024px) {
        display: none;
      }
    }
  }

  &-items {
    @media (max-width: 1023px) {
      display: none;
    }
  }

  &-item {
    a {
      text-decoration: none;
    }
  }

  &-drawer {
    &-item {
      a {
        text-decoration: none;
        font-size: 20px;
      }
    }
  }

  // Menu button
  &-btn {
    width: 25px;
    height: 20px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin-left: auto;

    @media (min-width: 1024px) {
      display: none;
    }

    span {
      position: absolute;
      height: 3px;
      width: 100%;
      background: #363636;
      border-radius: 40px;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 7px;
      }

      &:nth-child(4) {
        top: 14px;
      }
    }

    &-open span {
      &:nth-child(1),
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}
